:root {
    ---size: 400px;
    --calls: 10;
}

* {
    user-select: none;
}

.field {
    width: var(---size);
    height: var(---size);
    background-color: black;

    display: grid;
    grid-template-rows: repeat( var(--calls), 1fr);
    grid-gap: calc(var(---size)/100);
}

.field-row {
    display: grid;
    grid-template-columns: repeat(var(--calls), 1fr);
    grid-gap: calc(var(---size)/100);
}

span {
    box-sizing: border-box;
    color: gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}